body{
	font-family: 'Montserrat',sans-serif;
    background-color: rgb(210 206 206);
}
*{
    color: #6e6b7b;
}
p{
    text-align: center;
    font-size: 45px;
    color: #6e6b7b;
}

fieldset{
    border-style: dashed;
}

form{
    text-align: center;
    background-color: white;
    font-size: 25px;
    width: 850px;
    padding: 50px;
    position: absolute;
    right: 0px;
    margin-right: calc((100% - 900px) / 2);
    border-radius: 10px;
}

#Div1{
    margin: 50px;
}

input{
    width: 35%;
    height: 30px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(100, 46, 195);
    border-radius: 5px;
}

a {
	font-size: 14px;
	color: #7367f0;
	margin: 3px;
}

a:hover {
	text-decoration: none;
    color: #a64bf4;
}

button{
    padding: 14px 20px;
    width: 25%;
    font-size: large;
    font-weight: bold;
    background-color: #7367f0;
    color: white;
    border-radius: 10px;
}


button:hover{
    cursor: pointer;
    background-color: purple;
}